<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <div class="flex justify-center py-4">
      <img
        src="icon.png"
        alt=""
        class="w-20 h-20 outline-none cursor-pointer"
        routerLink="/metric-currency"
      />
    </div>
    <ul class="flex flex-col">
      @for (route of routes; track $index) {
      <li (click)="showNav = !showNav">
        <a
          [class]="currentUrl === route.route ? 'bg-slate-600' : ''"
          class="text-white text-center py-4 cursor-pointer flex items-center justify-center gap-2 hover:bg-slate-600 font-semibold capitalize"
          [routerLink]="route.route"
        >
          <mat-icon [fontIcon]="route.icon" />
          <span>
            {{ route.name }}
          </span>
        </a>
      </li>
      }
    </ul>
  </mat-drawer>
  <div>
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon fontIcon="menu" />
      Converter
    </button>

    <router-outlet />
  </div>
</mat-drawer-container>
